body,html,p,h1,h2,h3,h4,h5,h6,ul,ol{
    margin:0;
    padding:0;
}
nav{
    background-color: brown;
    height: 80px;
    line-height: 80px;
}
h1{
    color: green;
}
p{
    color: purple;
}
input{
    width: 70%;
    margin: 10px;
}
.container{
    width: 80%;
    margin: auto;
}
